<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="collectionmetamodel.CollectionmetamodelPackage" genModel="model/Collectionmetamodel.genmodel" uri="platform:/resource/collectionmetamodel/model/Collectionmetamodel.ecore"/>
  </extension>
</plugin>
